<h1>About Me</h1>
<p>My name is <a href="http://ir.linkedin.com/pub/amin-hedjazi/b/610/819">Amin Hedjazi</a> and this is my effort 
to learn Ruby on Rails an make a blog and 
in the mean while an online <a href="https://docs.google.com/document/d/1ziDWIvIdnjvE_A-pptfVah1spsvv3LFzqm0BYLZ7-ng/edit">CV</a> for my self .</p>
