<h1>Help : how to simple Deployment to Heroku</h1>
<p>go to <a href="http://ruby.railstutorial.org/ruby-on-rails-tutorial-book?version=3.2#sec:deploying"> ruby.railstutorial.org </a> to find out how to deply this app to Heroku cloud service in the mater of seconds.</p>
